extends base
include _largeOrderTable
block Indexcss
block content
block Indexcss
block content
block script
    
    if(queryProduct)
        .container(style= 'margin-top: 150px;')
            .row.my-5.salesTransSection(data-productid=`${product._id}`)
                #card2.col-12.col-md-6.col-xl-6
                    .card.border-1.shadow-sm
                        .card-body.py-5
                            .row
                                .col-8
                                    h6= `Sales for ${queryProduct}`
                                .col-4
                                    a.btn#button-sales.btn.btn-sm.dropdown-toggle.justify-content-end(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | Today
                                    #dropdownbtn.dropdown-menu.sales-today
                                        a#salesToday_btn(href='#sumOfSalesToday') Today
                                        a#salesWeekly_btn(href='#sumOfSalesWeek') This Week
                                        a#salesMonthly_btn(href='#sumOfSalesMonth') This Month
                                        a#salesLifeTime_btn(href='#sumOfSalesLifetime') Lifetime                      
                            .sumOfSalesResult.mx-auto.d-flex
                                h3#sumOfSalesResult.sales-toggle=`₦ ${salesToday}`
                                #loading-Sales-Result
                            
                                                
                                        
                #card2.col-12.col-md-6.col-xl-6
                    .card.border-1.shadow-sm
                        .card-body.py-5
                            .row
                                .col-9
                                    h6= `Transactions for ${queryProduct}`
                                .col-3
                                    .btn-group
                                        a.btn#button-trans.btn.btn-sm.dropdown-toggle.justify-content-end(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | Today
                                        #dropdownbtn.dropdown-menu.trans-today
                                            a#transToday_btn(href='#sumOfTransToday') Today
                                            a#transWeekly_btn(href='#sumOfTransWeek') This Week
                                            a#transMonthly_btn(href='#sumOfTransMonth') This Month
                                            a#transLifeTime_btn(href='#sumOfTransLifetime') Lifetime
                            .sumOfTransResult.mx-auto.d-flex
                                h3#sumOfTransResult.trans-toggle=`₦ ${transToday}`
                                #loading-Trans-Result
    section
        .large-container.mb-5(style= 'margin-top: 100px;')
            .card-body.py-5.px-4
                .d-flex.my-3
                    if (queryStatus && queryProduct )
                        button.btn.btn-info.mx-2(type='button', data-toggle='collapse', data-target='#filter-panel')
                            span.fas.fa-filter=`Filtered By: ${queryProduct}, ${queryStatus}`
                    else if (queryStatus)
                        button.btn.btn-info.mx-2(type='button', data-toggle='collapse', data-target='#filter-panel')
                            span.fas.fa-filter= `Filtered By: ${queryStatus}`
                    else if (queryProduct)
                        button.btn.btn-info.mx-2(type='button', data-toggle='collapse', data-target='#filter-panel')
                            span.fas.fa-filter=`Filtered By: ${queryProduct}`
                    else
                        button.btn.btn-info.mx-2(type='button', data-toggle='collapse', data-target='#filter-panel')
                            span.fas.fa-filter Filter
                    if (querySearch)
                        form.mx-2(action=`` method="GET")
                            input.form-control.input-sm.mx-4(type='text' placeholder='Search Order' name ='search' value=querySearch)
                    else
                        form.mx-2(action=`` method="GET")
                            input.form-control.input-sm.mx-4(type='text' placeholder='Search Order' name ='search' )
        
                #filter-panel.collapse.filter-panel.mt-3.mb-4
                    .panel.panel-default
                        .panel-body.my-3
                            form.form-inline(action=`` method="GET")
                                .form-group.mx-2
                                    label.mr-2( for='productFilter') Product:
                                    select#productFilter.form-control-sm(name='product')
                                        option(selected='', disabled='', value='') Select
                                        option(value=``) Show All
                                        each product in businessAccount.products.reverse()
                                            option(value=`${product.productName}`)= product.productName
            
                                .form-group.mx-2
                                    label.mr-2( for='statusFilter') Status:
                                    select#statusFilter.form-control-sm(name='status')
                                        option(selected='', disabled='', value='') Select
                                        option(value='') Show All
                                        option(value='New Order') New Order
                                        option(value='Processed') Processed
                                        option(value='Shipped') Shipped
                                        option(value='Scheduled') Scheduled
                                        option(value='Canceled') Canceled
                                        option(value='Delivered') Delivered
                                        option(value='Remitted') Remitted
                                        option( disabled='', value='') Online
                                        option(value='Paid Online') Paid Online
                                        option(value='Shipped Online') Shipped Online
                                        option(value='Delivered Online') Delivered Online
                                        option(value='Canceled Online') Canceled Online
                                        option( disabled='', value='') Others
                                        option( value='Trashed') Trashed
                                button.btn.btn-sm.rira-color-btn.mx-2(type='submit') Filter

                if (schdToday.length && currentPage === 1 && !querySearch)
                    +largeOrderTable('Scheduled Today', schdToday)
                if (orders.length)
                    +largeOrderTable('Latest Orders', orders)
                
                    include _paginate
                div(id='schedule-modal' class='modal fade' tabindex='-1', role='dialog', aria-labelledby='schedule-modalTitle', aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLongTitle.modal-title Schedule Order
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;
                            .modal-body
                                form.schedule-order-form
                                    input(type="hidden" id="schedule-orderId" value="")
                                    label.form-label(for='schedule-date-input') Pick a date                                                
                                    input#schedule-date-input.form-control(type='date', value='')
                                    .modal-footer
                                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                        button.btn.rira-color-btn(type='submit') Save changes
                if (!orders.length && querySearch)
                    .text-center
                        p.mt-2(style='font-size: 1.2rem;')= `Unable to get result for ${querySearch}. Kindly check and try again`
                if (!orders.length && !querySearch)
                    .text-center
                        p.mt-2(style='font-size: 1.2rem;') You don't have an order for now. Create a new product and share the link to your customer to pay through RiraPay
                    .text-center
                        a.rira-color-btn.btn(href='/createproduct') Create your first Product


        script.
            currentPages= #{currentPage};
            queryProduct= !{JSON.stringify(queryProduct)}
            queryStatus= !{JSON.stringify(queryStatus)}
            
            $('#productFilter').val(queryProduct)
            $('#statusFilter').val(queryStatus)
            $('ul.pagination a').filter(function() {
                return $(this).text() == currentPages;
            }).parent().addClass('active');
            document.getElementById('schedule-date-input').valueAsDate = new Date();
            
                        