extends base
block Indexcss
block content
    
    section
        .large-container.mb-5(style= 'margin-top: 150px;')
            .row
                .col-12
                        .card-body.py-5.mx-2
                            ul.list-group
                                    li.d-flex.justify-content-between
                                        h4.d-flex.justify-content-between All Orders:
                                        h6
                                            a.rira-color-btn.btn(href=`/mobileorders`) Mobile Mode

                                
                            table.table.table-condensed.table-hover                       
                                thead
                                    tr
                                        th Date
                                        th Product Name
                                        th Status
                                        th Order No
                                        th Customer
                                        th State
                                        th Phone
                                        th Amount
                                        th Tags
                                        th Action

                                tbody
                                    each order in orders
                                        each product in order.product

                                                -const ordersDate = moment(order.createdAt).format('dddd, DD/MMM/YY, h:mma');
                                                -const orderTotal = order.total.toLocaleString()
                                                -const shtOrderState = order.state.split(" ").splice(0,1).join(" ")
                                                -const shtOrderName = order.name.split(" ").splice(0,2).join(" ")
                                                -const shtProductName = product.productName.split(" ").splice(0,3).join(" ")
                                                -const tags = order.tags.join(",");
                                                -var OrderId = order._id;

                                                if (order.altPhone)
                                                    -var copiedInfo= `Product Name: ${product.productName}\n\nName: ${order.name}\n\nAddress: ${order.address}\n\nState: ${order.state}\n\nArea: ${order.area}\n\nQuantity: ${order.qty}\n\nAmount Receiving: ₦${orderTotal}\n\nPhone Number: ${order.phone}\n\nAlternative Number: ${order.altPhone}`;
                                                else
                                                    -var copiedInfo= `Product Name: ${product.productName}\n\nName: ${order.name}\n\nAddress: ${order.address}\n\nState: ${order.state}\n\nArea: ${order.area}\n\nQuantity: ${order.qty}\n\nAmount Receiving: ₦${orderTotal}\n\nPhone Number: ${order.phone}`;



                                                    tr.table-row(style= 'height: 65px')
                                                    
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)=ordersDate
                                                                                                
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)= shtProductName
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)= order.status
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)= order.orderNum
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)=shtOrderName
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)=shtOrderState
                                                        td
                                                            a.py-3(style='color: #007bff;' onmouseover="mouseover()" onmouseout="mouseout()" name='orderPhonea' href=`tel:${order.phone}`)= order.phone
                                                        td
                                                            a.py-3(href=`/myorder/${product._id}/${order._id}`)=`₦${orderTotal}`
                                                        td
                                                            .tag-edit-btn(style='position: relative;')
                                                                button( id = `${order._id}` class='create-tags-pencil' style='border: 0;border-color: transparent; background-color: transparent; position: absolute; top: 0; right: 0; font-size: 13px;' onclick="showtaginput()")
                                                                    i.lni.lni-pencil(id = `${order._id}`)
                                                            a(id=`p-order-tags-${order._id}` style='font-size: 1rem;')=order.tags

                                                            form(id=`order-form-tags-${order._id}` class='allorders-tags-form' style='font-size: 1rem; display: none;')
                                                                input.form-control( id=`input-order-tags-${order._id}` type='text', value=tags data-role='tagsinput')
                                                        
                                                                button.btn.rira-color-btn.my-2.mr-2(type='submit') save
                                                                button.btn.btn-secondary.my-2(id=`tags-${order._id}` type='button' onclick="removetaginput()") cancel

                                                        td
                                                            .d-flex
                                                                button(style='border: 0;border-color: transparent; background-color: transparent;' data-sharer='whatsapp', data-title="" data-url=`${copiedInfo}` target="_blank" rel="noopener noreferrer")
                                                                    i.far.fa-share-square
                                                                button.clipboard-btn(style='border: 0;border-color: transparent; background-color: transparent;' data-clipboard-text=`${copiedInfo}`)
                                                                    i.far.fa-copy
                                                                .btn-group.dropleft
                                                                    button(style='border: 0;border-color: transparent; background-color: transparent;' data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                                        i.lni.lni-menu
                                                                    .dropdown-menu(style='min-width: 0px; padding: .3rem 0;')
                                                                        a.cancel-mobile-order.dropdown-item( type='button' href='#' data-orderid=`${order._id}` data-name=`${order.name}`) Mark as Canceled
            
                                                                
                            
                            include _paginate

        script.
            currentPages= #{currentPage};
            function mouseover(e){
                if (!e) var e = window.event;
                var target = e.target || e.srcElement;
                target.style.textDecoration= 'underline';
            //-  document.getElementsByName('orderPhonea').style.color = 'red'
             }
            function mouseout (){
            if (!e) var e = window.event;
                var target = e.target || e.srcElement;
                target.style.textDecoration= 'none';
            }
            function showtaginput (){
            if (!e) var e = window.event;
            var target = e.target || e.srcElement;
             const tagInput = document.getElementById(`order-form-tags-${target.id}`)
             const tagP = document.getElementById(`p-order-tags-${target.id}`)
                tagP.style.display = 'none';
              tagInput.style.display = 'block';
            }
            function removetaginput (){
            if (!e) var e = window.event;
            var target = e.target || e.srcElement;
             const tagInput = document.getElementById(`order-form-${target.id}`)
             const tagP = document.getElementById(`p-order-${target.id}`)
                tagP.style.display = 'block';
              tagInput.style.display = 'none';
            }
                $('ul.pagination a').filter(function() {
                return $(this).text() == currentPages;
            }).parent().addClass('active');

                        