extends base
block Indexcss
block content

    section
        -const productprice = product.price.toLocaleString()
        .form-container(style='margin-top: 120px;')
            .row.no-gutters.mx-2
                .col-12
                    .card.border-0.box-shadow
                        .card-block
                            h5= product.productName
                            if (product.price > 0)
                                .d-flex.mx-2.mb-3.mt-5
                                    p.font-weight-bold Product Price:
                                    p.mx-5= `₦${productprice}`
                            else
                                .selectPriceOptions
                                    .d-flex.mx-2.my-3
                                        p.font-weight-bold Price:
                                        -const newPromoQtyPrice = product.promoQtyPrice.join(',');
                                        input#inputPromoQtyPrice(type='hidden', name='productColours', value= newPromoQtyPrice)
                                        select#selectPromoPrice.form-control.ml-1.w-50

                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product Stock:
                                p.mx-5= product.stock
                            if (product.discount > 0)
                                .d-flex.mx-2.my-3
                                    p.font-weight-bold Discount:
                                    p.mx-4= `${product.discount}%`
                            else
                                .d-flex.mx-2.my-3
                                    p.font-weight-bold Discount:
                                    p.mx-4 None
                            
    
                            if (product.colours != "")
                                .selectColorOptions
                                    .d-flex.mx-2.my-3
                                        p.font-weight-bold Colours:
                                        -const newProductColours = product.colours.join(',');
                                        input#productColours(type='hidden', name='productColours', value= newProductColours)
                                        select#selectColours.form-control.ml-1.w-50
                                            
                            if (product.sizes != "")
                                .selectSizeOptions
                                    .d-flex.mx-2.my-3
                                        -const newProductSizes = product.sizes.join(',');
                                        input#productSizes(type='hidden', name='productSizes', value= newProductSizes)
                                        p.font-weight-bold Size:
                                        select#selectSizes.form-control.ml-1.w-50
                                            
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Submit button info:
                                p.mx-4=product.additionalInfo
                                
                            .d-flex.mx-2.my-3
                                p.font-weight-bold Product link
                                .mx-2
                                    button.clipboard-btn.btn.rira-color-btn(data-clipboard-text=`https://rirapay.com/buy/${product.slug}/${product.id}`, style='background-color: #01afee; color: white;')
                                        | Copy Link
                                    a(href= `https://rirapay.com/buy/${product.slug}/${product.id}` target="_blank")
                                        input.btn.ml-1( type='button' value='Preview' style='background-color: #01afee; color: white;')
                            - var embedCode =  `<!-- RIRAPAY EMBED ORDER FORM --> <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script> <!-- RIRAPAY EMBED CSS --> <style> #embed-rira-form{ font-family: inherit; font-size: inherit; font-weight: normal; line-height: 1.5; color: #212529; text-align: left; background-color: #fff; width: 100%; } .rira-row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; } *, ::after, ::before { box-sizing: border-box; } .rira-col { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; } .rira-col{ position: relative; width: 100%; padding-right: 15px; padding-left: 15px; } label { display: inline-block; margin-bottom: .5rem; } .rira-form-control:focus { color: #495057; background-color: #fff; border-color: #01afee; outline: 0; box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%); } .rira-form-control { display: block; width: 100%; height: calc(1.8em + 0.75rem + 2px); padding: .375rem .75rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; } textarea.rira-form-control { height: auto; } .rira-input-group { position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: stretch; align-items: stretch; width: 100%; } .rira-input-group-prepend { margin-right: -1px; } .rira-input-group-append, .rira-input-group-prepend { display: -ms-flexbox; display: flex; } .rira-input-group>.rira-input-group-prepend>.rira-input-group-text { border-top-right-radius: 0; border-bottom-right-radius: 0; } .rira-input-group-text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: .375rem .75rem; margin-bottom: 0; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; text-align: center; white-space: nowrap; background-color: #e9ecef; border: 1px solid #ced4da; border-radius: .25rem; } .rira-input-group>.custom-select:not(:first-child), .rira-input-group>.rira-form-control:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; } .rira-input-group>.custom-file, .rira-input-group>.custom-select, .rira-input-group>.rira-form-control, .rira-input-group>.rira-form-control-plaintext { position: relative; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; margin-bottom: 0; } button, input { overflow: visible; } button, input, optgroup, select, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; } .small, small { font-size: 80%; font-weight: 400; } .text-center { text-align: center!important; } *, ::after, ::before { box-sizing: border-box; } .rira-btn { display: inline-block; font-weight: 400; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; text-decoration: none !important; border: 1px solid transparent; padding: .375rem .75rem; margin: 20px 0px; font-size: 2.5rem; line-height: 1.5; border-radius: .25rem !important;; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; } .rira-btn-lg { padding: .5rem 1rem; font-size: 1.25rem; line-height: 1.5; border-radius: .3rem; } [type=button], [type=reset], [type=submit], button { -webkit-appearance: button; } button, select { text-transform: none; } [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) { cursor: pointer; } select:not(:-internal-list-box) { overflow: visible !important; } .mb-3, .my-3 { margin-bottom: 1rem!important; } .mt-3, .my-3 { margin-top: 1rem!important; } .mb-5, .my-5 { margin-bottom: 3rem!important; } .mt-5, .my-5 { margin-top: 3rem!important; } .rira-color-btn { background-color: #01afee !important;; color: white !important;; } .btnLoadingSpiner { position: relative; text-decoration: none; box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); border: 1px transparent; border-radius: 0.3rem; font-weight: 500; transition: all ease-in-out 0.2s; color: transparent !important; opacity: 1; } .btnLoadingSpiner:after { content: ''; animation: spin 500ms linear infinite; position: absolute; top: calc(50% - 0.5rem); left: calc(50% - 0.5rem); width: 1rem; height: 1rem; border: 2px solid #fff; border-top-color: transparent; border-left-color: transparent; border-radius: 50%; opacity: 1; } .btnLoadingSpiner:hover { color: transparent !important; } .btnLoadingSpiner:disabled { filter: brightness(75%); color: transparent !important; } @keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(359deg); } } .label-float{ padding-right: 20px; margin: 0px; } .d-flex { display: -ms-flexbox!important; display: flex!important; } .order_title{ color: #0d5e7e; text-align: center; font-weight: bold; } .justify-delivery-info{display: flex;  justify-content: space-around !important;margin-bottom: 0.5rem;}#all-del-info{ display: block;} </style> <div id="embed-rira-form"> <form class="embed-order-form my-5"> <input type="hidden" id="embedBusinessAccount" value="${businessAccount._id}"> <input type="hidden" id="embedProduct" value="${product._id}"> <input id=product_price_hidden type='hidden' value="${product.price}"> <input id=product-variant-price type='hidden' value="${product.promoQtyPrice}"> <input id=product-variant-color type='hidden' value="${product.colours}"> <input id=product-variant-size type='hidden' value="${product.sizes}"> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedEmail">Your Email Address*</label> <input type="email" class="rira-form-control" id="embedEmail" placeholder="" required=""> <small>This Email Address will be use to sign up later on to track your orders and request for refund </small> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedName"> Full Name*</label> <input type="text" class="rira-form-control" id="embedName" placeholder="" required=""> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedPhone"> Phone Number*</label> <div class="rira-input-group"> <div class="rira-input-group-prepend"> <div class="rira-input-group-text"> +234 </div></div> <input type="tel" class="rira-form-control" id="embedPhone" placeholder="e.g 7088521621" required=""> </div> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedPhone2">Second Phone Number(Optional)</label> <div class="rira-input-group"> <div class="rira-input-group-prepend"> <div class="rira-input-group-text"> +234 </div></div> <input type="tel" class="rira-form-control" id="embedPhone2" placeholder=""> </div> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedAddress">Full Address*</label> <textarea type="text" class="rira-form-control" id="embedAddress" placeholder="eg: 20, chinedu moses street, beside delux supermaket, balogun bus-stop" required=""></textarea> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedState">State*</label> <input type="text" class="rira-form-control" id="embedState" placeholder="" required=""> </div> </div> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedArea"> Area/Town or City</label> <input type="text" class="rira-form-control" id="embedArea" placeholder="eg: Oshodi, Owerri, Kubwa"> </div> </div> <div id="variant_price_Quanity_container" style="display: none;"> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedQty" style="font-weight: bold;"> Quantity*</label> <select id="selectPromoPrice" class="rira-form-control" > <option selected='' disabled='' value=''> Choose Quantity </option> </select> </div> </div> </div> <div id="one_price_container" style="display: none;"> <div class="rira-row my-3"> <div class="rira-col"> <div class="d-flex" style="margin: 0 0 1em;"> <p style="margin: 0 1em 0 0 !important;"> Product Price:</p> <input id="first_price" type="text" readonly="" value="₦${product.price}" style="border: none; width: 10em; font-weight: 600; padding: 0 !important"> </div> <div class="d-flex"> <p style="padding: 10px 20px 0px 0px !important; margin: 0 !important;">How Many?</p> <input class="rira-form-control" id="show_Product_Quantity" type="number" value="1" min="1" style="width: 30%; height: inherit;"> </div> <div class="d-flex"> <h5 style="margin: 0 !important; padding: 1.5rem 0 !important; font-size: 2rem !important; font-weight: bold !important;">Total:</h5> <input id="show_Product_total" type="text" readonly="" value="₦${product.price}" style="border: none; font-weight: bold; width: 10em; padding: 0.36rem 0.66rem; !important; font-size: 2rem;"> </div> </div> </div> </div> <div id="variant_size_container" style="display: none;"> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedSize"> Size*</label> <select id=selectSizes class="rira-form-control"> <option selected='' disabled='', value=''> Choose Size </option> </select> </div> </div> </div> <div id="variant_colours_container" style="display: none;"> <div class="rira-row my-3"> <div class="rira-col"> <label for="embedColour"> Colour*</label> <select id="selectColours" class="rira-form-control" > <option selected='' disabled='' value=''> Choose Colour </option> </select> </div> </div> </div> <div id="all-del-info"><div class="justify-delivery-info"><div>Delivery </div><div>free </div></div><div class="justify-delivery-info"><div>Total </div><div id="show_total_price" style="font-weight: bold;"> </div></div></div> <div class="rira-row mt-3"> <div class="rira-col"> <p> ${product.additionalInfo} </p> </div> </div> <div class="text-center"> <button type="submit" class="rira-btn btn-lg" style="margin: 0px; background-color: ${product.formStyle.submitBtnBGColor}; color: ${product.formStyle.submitBtnColor}">${product.formStyle.submitBtnText}</button> </div> </form> </div> <script src="https://cdn.jsdelivr.net/gh/dedanade/rira-files@3.0.7/embed-js.js"></script>`
                            - var thankYouCode = '<script> function getUrlParameter() { var sPageURL = window.location.href; if (sPageURL.indexOf("riraEmbedId=") !== -1) { const sURLVariables = sPageURL.split("riraEmbedId")[1].split("=")[1]; window.setTimeout(() => { location.assign(`https://rirapay.com/orderInfo/${sURLVariables}`); }, 3000); } return false; } window.onbeforeunload = getUrlParameter(); </script>'
                                .row.my-3
                                    .col-6
                                        p.font-weight-bold Sales page embed code:
                                            i.ml-1.fas.fa-info-circle.my-auto(type='button', data-toggle='tooltip', data-placement='top', title='Copy the code and paste it in your main sales page using html/css/javascript element on your wordpress page builder' style='-webkit-appearance: none;')

                                    .col-6
                                        textarea#embedCodeTextArea.form-control.ml-1(type='text' readonly='' style= 'width: 100%; height: 100px;' onclick='this.focus();this.select()')=embedCode
                                        .text-center.my-3
                                            button.btn.btn-info.clipboard-btn(data-clipboard-text=embedCode)
                                                | Copy sales page embed code
                            if(product.facebookPixel.thankYouPage) 
                                .row.my-3
                                    .col-6
                                        p.font-weight-bold Thank you page embed code:
                                            i.ml-1.fas.fa-info-circle.my-auto(type='button', data-toggle='tooltip', data-placement='top', title='Copy the code and paste it in your thank you page using html/css/javascript element on your wordpress page builder' style='-webkit-appearance: none;')
                                    .col-6
                                        textarea#embedCodeTextArea.form-control.ml-1(type='text' readonly='' style= 'width: 100%; height: 100px;' onclick='this.focus();this.select()')=thankYouCode
                                        p.p-0(style= 'font-size: 0.9rem' ) PS: Make sure you're pasting this code in the same page you submitted as thank you page to work effectively
                                        .text-center.mt-1.mb-3
                                            button.clipboard-btn.btn.btn-info(data-clipboard-text=thankYouCode)
                                                | Copy thank you embed code
                            else
                                .text-center.mt-5
                                    a(href=`/productpixel/${product._id}` target="_blank" rel="noopener noreferrer") Test Product Pixel
                        .text-center.my-4
                            a.btn.rira-color-btn(href=`/edit/${product.slug}/${product._id}`) Edit Product