extends base
block Indexcss
block content
    
    section(style="margin-top: 150px;")
        .small-container-mobile-orders
            ul.list-group.my-4
                li.d-flex.justify-content-between
                    h4.d-flex.justify-content-between Your Orders:
                    h6
                        a.rira-color-btn.btn(href='/allorders') Desktop Mode
            - const busOrder = businessAccount.orders;
            if (busOrder.length)
                each orders in businessAccount.orders.reverse().slice(0, 200)
                    each product in orders.product
                        -const orderTotal = orders.total.toLocaleString()
                        -const mobiledate = moment(orders.createdAt).format('MMM DD');
                        -const shtOrderName = orders.name.split(" ").splice(0,2).join(" ")
                        -const shtOrderState = orders.state.split(" ").splice(0,1).join(" ")
                        -const shtProductName = product.productName.split(" ").splice(0,2).join(" ")

                        if (orders.altPhone)
                            -var copiedInfo= `Product Name: ${product.productName}\nName: ${orders.name}\nAddress: ${orders.address}\nState: ${orders.state}\nArea: ${orders.area}\nQuantity: ${orders.qty}\nAmount Receiving: ₦${orderTotal}\nPhone Number: ${orders.phone}\nAlternative Number: ${orders.altPhone}`;
                        else
                            -var copiedInfo= `Product Name: ${product.productName}\nName: ${orders.name}\nAddress: ${orders.address}\nState: ${orders.state}\nArea: ${orders.area}\nQuantity: ${orders.qty}\nAmount Receiving: ₦${orderTotal}\nPhone Number: ${orders.phone}`;


                        .mini-table(data-href=`/myorder/${product.id}/${orders._id}`)
                            .row.clickable-row.no-gutters.mx-3.py-2.px-2.border-top
                                .col-8
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)
                                            b= `₦${orderTotal}`
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= shtOrderName
                                    
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= shtProductName
                                .col-4
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= orders.status
                                        
                                    p.m-0 
                                        a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= mobiledate
                                    p.m-0 
                                       a(target='_blank' href=`/myorder/${product.id}/${orders._id}`)= shtOrderState
                        .row.border-bottom(style='font-weight: 500;')
                            .col-3
                                .ml-5
                                    a.call-orders-number(style='color: black;' href=`tel:${orders.phone}` tabindex="0")
                                        i.lni.lni-phone
                            .col-3
                                .ml-5
                                    button( style='border: 0;border-color: transparent; background-color: transparent;' data-sharer='whatsapp', data-title="" data-url=`${copiedInfo}`)
                                        i.far.fa-share-square
                            .col-3
                                .ml-5
                                    button.clipboard-btn(style='border: 0;border-color: transparent; background-color: transparent;' data-clipboard-text=`${copiedInfo}`)
                                        i.far.fa-copy
                .text-center.my-3
                    h6
                        a.rira-color-btn.btn(href='/allorders') View All orders in Descktop View
            if (!busOrder.length)
                .text-center
                    p.mt-2(style='font-size: 1.2rem;') You don't have an order for now. Create a new product and share the link to your customers to pay through RiraPay
                .text-center
                    a.rira-color-btn.btn(href='/createproduct') Create your first Product